<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注销界面</title>
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.css">
    <style>
        #logout_div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 290px;
            height: 200px;
            margin-left: -145px;
            margin-top: -150px;
        }
    </style>
</head>
<body>
<div id="logout_div">
{#<div class="container">#}
    <p>注销成功！</p>
    <p>你可重新<a href="{% url 'account:user_login' %}">登录</a></p>
{#</div>#}
</div>
</body>
</html>